.menu {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 80%;
  padding: 2% 2% 30% 2%;
  background-color: #778899;
  transform: translate3d(-50%, -50%, 0);
}

.show-menu {
  display: flex;
}

.menu .btn-menu {
  color:inherit;
  font-size: 80%;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  width: 45%;
  margin: 2%;
  padding: 1.5%;
  border: none;
  border-radius: 5rem;
  background-color: #7D848C;
  text-shadow: 0 0 0.15vmin #464b51;
  box-shadow: 0 0 0 1px #3c4f55, 0 0 2px 1px #556C82;
  transition: all 0.2s ease;
  @media (max-width: $screen-mobile) {
    font-size: 5vmin;
    width: 38vmin;
    padding: 2.0%;
  }
  @media (max-width: $screen-mobile_2) {
    font-size: 7vmin;
    width: 50vmin;
    padding: 2.0%;
  }

}

.menu .btn-menu:hover {
  box-shadow: 0 0 0 1px #3c4f55, 0 0 4px 4px #556C82;
  cursor: pointer;
}

.menu .btn-menu:active {
  box-shadow: 0 0 0 1px #3c4f55, 0 0 2px 1px #556C82;
}