.save {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 80%;
  padding: 2% 2% 15% 2%;
  transform: translate3d(-50%, -50%, 0);
}

.save .total {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15%;
}

.save .message,
.save .error {
  font-size: 50%;
  margin-bottom: 5%;
  @media (max-width: $screen-mobile) {
    font-size: 60%;
  }
  @media (max-width: $screen-mobile_2) {
    font-size: 80%;
  }
}

.save .error {
  font-weight: 400;
  text-align: center;
  align-self: flex-start;
  margin: 2% 0 0 2%;
  color: #f2dc4b;
  @media (max-width: $screen-mobile) {
    font-size: 60%;
  }
  @media (max-width: $screen-mobile_2) {
    font-size: 80%;
  }
}

.save form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.save .input-name {
  color: inherit;
  font-size: 62.5%;
  flex-grow: 1;
  padding: 1.8%;
  margin-right: 4%;
  border: none;
  border-radius: 0.05rem;
  background-color: #DAD0D0;
  outline: 1px solid #465361;
  @media (max-width: $screen-mobile) {
    font-size: 100%;
    padding: 2.0%;
  }
}

.save .btn-save-result,
.btn-show-results {
  font-size: 62.5%;
  font-weight: 700;
  text-transform: uppercase;
  color:inherit;
  padding: 1.8% 2.5%;
  border: none;
  border-radius: 0.05rem;
  background-color: #7D848C;
  outline: 1px solid #465361;
  transition: all 0.2s ease;
  @media (max-width: $screen-mobile) {
    font-size: 100%;
    padding: 2.0%;
    width: 30%;
  }
}

.btn-show-results {
  margin-top: auto;
  @media (max-width: $screen-mobile) {
    width: auto;
  }
}

.save .btn-save-result:hover,
.btn-show-results:hover {
  cursor: pointer;
}