.scoreboard {
  position: relative;
  font-size: 100%;
  font-weight: 700;
  width: 48.5%;
  padding-left: 0.5rem;
  border: 0.5px solid #3c4f55;
  background-color: green;
  box-shadow: inset 0 0 3px #464b51, inset 0 0 20px #0f9a0f;
  @media (max-width: $screen-mobile) {
    width: 100%;
    font-size: 170%;
  }
}

.life::before {
  content: attr(data-life);
  position: absolute;
  top: 0;
  right: 15%;
}

.sound-on::after {
  content: url("/src/img/sound.svg");
  position: absolute;
  top: 0;
  right: 3%;
  width: 5%;
  height: 5%;
  transform: translateY(25%);
  @media (max-width: $screen-mobile) {
    transform: translateY(100%);
    height: 4.5%;
    width: 4.5%;
  }
}

.sound-off::after {
  content: url("/src/img/sound-off.svg");
  position: absolute;
  top: 0;
  right: 2%;
  height: 9%;
  width: 9%;
  transform: translateY(25%);
  @media (max-width: $screen-mobile) {
    height: 8%;
    width: 8%;
    transform: translateY(70%);
  }
}