.welcome {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 80%;
  padding: 2% 2% 35% 2%;
  transform: translate3d(-50%, -50%, 0);
}

.welcome .title {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 6%;
}

.welcome .text {
  font-size: 50%;
  line-height: 1.8;
  margin-bottom: 5%;
  text-align: center;
  @media (max-width: $screen-mobile) {
    font-size: 60%;
  }
  @media (max-width: $screen-mobile_2) {
    font-size: 80%;
  }
}

.welcome .text span {
  text-transform: uppercase;
}